.sm2_bar{
	height:40px;
	background-color:#cccccc;
	width:60px;
	-webkit-transition:background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.sm2_bar.sm2_paused {
	background-color:rgba(138, 161, 177, 0.76);
}
.sm2_bar.sm2_paused  .action{
	height:40px;
	width:40px;
	background-image:url("../image/icon_pause.png");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
.sm2_bar.sm2_playing  .action{
	height:40px;
	width:40px;
	background-image:url("../image/icon_play.png");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}